.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.children {
  background: peru;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 50px;
}

.children:nth-child(1) {
  order: 2;
}

.children:nth-child(2) {
  order: 0;
}
