.father {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  height: 100vh;
}
.children {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children:nth-child(2) {
  background-color: #000;
  flex-grow: 0;
}
